body{
	background: black;
	color: white;
	font-size: 18px;
	font-family: Verdana;
	padding: 10px;
}

#md{
	height: 200px;
	width: 200px;
	margin: 0 auto;
	margin-top: auto;
	margin-bottom: 10px;
}
.button1{
	background:radial-gradient(black 15%, #095256);
	width: 100%;
	height: 100%;
	border: 3px solid rgba(255,255,255,0.3);
	border-radius: 200px;
	font-size: 36px;
	color: rgba(255,255,255,0.3);
	font: bold;
	user-select: none;
	font-family: Verdana;

	transition: all 0.2s ease-in-out;


}
.button1:hover{
	background:radial-gradient(black , #087F8C 80%);
	border: 3px solid rgba(255,255,255,0.6);

	color: rgba(255,255,255,1);
	transition: all 0.2s ease-in-out; 

}
.button1:active{
	background:radial-gradient(black , #5AAA95, white 130%);
	color: white;

	border: 3px solid rgba(255,255,255,1);
	font-size: 48px;
	transition: none;

	box-shadow: 0px 0px 10px 5px  rgba(255,255,255,0.3);
	/*transition: box-shadow 0s ease-in-out;*/
}

#tempometer-lasttwo, #tempometer-avg{
	margin: 0 auto;	
	text-align: center;
	}
